<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SoftPin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C4EF39C1CEC790700386CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C4EF3B01CEC790700386CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C4EF3BB1CEC790700386CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
